.contactRight {
  background: $frchblue;
  box-shadow: 15px 15px $aqua;
  transform: translateY(-30%);
  width: 65%;
}

form {
  padding: 10% 5% 5% 5%;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0%;

  input[type="fullName"],
  input[type="emailAddress"] {
    background: none;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    padding: 2.5%;
    width: 48%;
  }

  input[type="message"] {
    background: $frchblue;
    border: 1px solid $white;
    color: $white;
    margin-bottom: 2.5%;
    padding: 2.5% 0% 30% 1.5%;
    width: 100%;
  }

  input[type="submit"] {
    background: $aqua;
    border: transparent;
    color: $darkturq;
    @include fontProp ($sec, null, $bold);
    padding: 1.5%;
    width: 100%;
  }
}

  // MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    form fieldset:first-child {
      flex-direction: column;

      input[type="fullName"],
      input[type="emailAddress"] {
        padding-left: 1.5%;
        width: 100%;
      }
    }
  }