ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 5.5% 0% 0% 2%;

  li {
    margin-right: 4.5%;

    a {
      color: $white;
      @include fontProp (null, 0.78rem, $bold);
    }
  }
}

  // MEDIA: MOBILE LARGE (MAX-WIDTH: 425px)

@include mobileLarge {
  ul {
    justify-content: space-between;
  }
}
