.topNavi {
  // border: $border;
  padding-top: 4.5%;
  margin-left: 5%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

ul li {
  margin: 0% 2.5%;
}

ul li a {
  color: $white;
  font-size: 0.78rem;
  font-weight: $bold;
  text-decoration: none;
}