
// -----------------------------------
// COLOR
// -----------------------------------

// MAIN Colour Palette
$aqua: #08FDED;
$darkblue: #044779;
$frchblue: #474BB5;
$darkturq: #03697C;
$palegrey: #F3FAFF;

// DEFAULT Color Palette
$white: #FFFFFF;

// -----------------------------------
// FONT STYLE
// (Prim = Primary, Sec = Secondary)
// -----------------------------------

$prim: 'Roboto', sans-serif;
$sec: 'Walter Turncoat', cursive;

// -----------------------------------
// FONT WEIGHTS
// -----------------------------------

$light: 300;
$normal: 400;
$semiBold: 500;
$bold: 700;
$bolder: bolder;

// -----------------------------------
// GENERAL
// -----------------------------------

$border: 1px solid orangered;

html {
  color: $white;
  @include fontProp ($prim, 125%, null);
}

body {
  letter-spacing: 1px;
}

.wrapper {
  display: block;
  max-width: 100%;
  padding: 0% 7.5%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

i {
  @include fontProp (null, 1.2rem, null);
}

h1 {
  @include fontProp ($sec, 5.5rem, null);
}

h2 {
  @include fontProp ($sec, 2.2rem, $bold);
}

h2,
h3 {
  margin: 0%;
}

h3 {
  @include fontProp ($sec, 2.5rem, null);
}

h4 {
  @include fontProp ($sec, 0.78rem, null);
}

p {
  @include fontProp (null, 0.78rem, null);
  line-height: 25px;
}


