
// -----------------------------------
// COLOR
// -----------------------------------

// MAIN Colour Palette
$aqua: #08FDED;
$darkblue: #044779;
$frchblue: #474BB5;
$darkturq: #03697C;
$palegrey: #F3FAFF;

// DEFAULT Color Palette
$white: #FFFFFF;

// -----------------------------------
// FONT STYLE
// (Prim = Primary, Sec = Secondary)
// -----------------------------------

$prim: 'Roboto', sans-serif;
$sec: 'Walter Turncoat', cursive;

// -----------------------------------
// FONT WEIGHTS
// -----------------------------------

$light: 300;
$normal: 400;
$semiBold: 500;
$bold: 700;

// -----------------------------------
// GENERAL
// -----------------------------------

$border: 1px solid orangered;

html {
  color: $white;
  font-family: $prim;
  font-size: 125%;
}

.wrapper {
  display: block;
  max-width: 100%;
  padding: 0% 7.5%;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

i {
  font-size: 1.2rem;
}

h1 {
  font-family: $sec;
  font-size: 5.5rem;
}

h2 {
  font-family: $sec;
  font-size: 1.7rem;
  font-weight: $bold;
  margin: 0%;
}

p {
  font-size: .9rem;
}


