.about {
  background: $darkturq;

  .wrapper {
  display: flex;
  // NOTE: Unable to set PADDING code to one line to make it DRY... Code for some reason doesn't work...
  padding-top: 15%;
  padding-bottom: 7.5%;
  }
}

.aboutContent {
  display: flex;
  padding-bottom: 5%;

  .aboutIcons {
    width: 9%;

    i {
      align-items: center;
      background: $aqua;
      color: $frchblue;
      border-radius: 25px;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 100%;
    }
  }

  .aboutText {
    padding-left: 2.5%;
    width: 90%;

    p {
      margin: 2.5% 0%;
    }
  }
}

// MEDIA: LAPTOP (MAX-WIDTH: 1215px)

@include laptop {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .aboutContent .aboutIcons {
    width: 11%;
  }
}

// MEDIA: LAPTOP SMALL (MAX-WIDTH: 1024px)

@include laptopSmall {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .aboutContent .aboutIcons {
    width: 13%;
  }
}

// MEDIA: TABLET (MAX-WIDTH: 767px)

@include tablet {
  .about .wrapper {
    display: flex;
    flex-direction: column;
    padding: 7.5%;
  }

  .aboutContent .aboutIcons {
    width: 9%;
  }

  .aboutContent .aboutText {
    padding-left: 5%;
  }
}

// MEDIA: MOBILE LARGE (MAX-WIDTH: 425px)

@include mobileLarge {
  .about .wrapper {
    padding: 7.5% 2.5%;
  }

  .aboutContent .aboutIcons {
    width: 15%;
  }
}

// MEDIA: MOBILE SMALL (MAX-WIDTH: 320px)

  @include mobileSmall {
    .aboutContent .aboutIcons {
      align-items: center;
      display: flex;
      width: 20%;
    }

    h2 {
      font-size: 1.5rem;
    }
  }