.blog {
  background: $darkturq;

  .wrapper {
    display: flex;
    padding: 0% 0% 0% 7.5%;
  }
}

.blogLeft {
  background: $frchblue;
  margin: 0% 7.5% 32% 0%;
  transform: translateY(10%);
  width: 30%;
  
  .blogImageLeft {
    margin: -5% 5.5% 0% -30%;
  }

  .blogText {
    padding: 0% 9%;

    h4 {
      margin: 10% 0% 5%;
      text-transform: uppercase;
    }

    ul {
      color: $aqua;
      flex-direction: column;
      padding-top: 0%;
    }

    ul li {
      flex-direction: column;
      font-size: .9rem;
      list-style: disc;
    }

    p {
      color: $white;
      margin: 0%;
    }
  }
}

.blogRight {
  border-left: 5px solid $aqua;
  border-bottom: 5px solid $aqua;
  width: 70%;

  .blogImageRight {
    margin: -17% 0% 0% 1.25%;
    box-shadow: -15px 15px aqua;
  }

  .blogText {
    padding: 2.5% 7% 10% 11%;
  }
}

.comments {
  background: $darkturq;
  
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0%;
  }
  
  .commentsContent {
    padding: 0% 7%;
    width: 59.5%;

    h3 {
      margin: 2.5% 0%;
    }
  }
}

.commentUser {
  display: flex;
  line-height: 20px;
  margin-bottom: 10%;

  .userContainer {
    width: 10%;
  }

  .blogText {
    padding-left: 2.5%;
    width: 90%;

    h4 {
      @include fontProp ($prim, .9rem, $bolder);
      font-style: italic;
      margin: 0%;
    }

    p {
      margin-top: 2.5%;
    }
  }
}

.commentForm {
  padding-bottom: 10%;

  form {
    padding: 0%;
  }

  input[type="fullName"],
  input[type="emailAddress"],
  input[type="message"] {
    border-color: $aqua;
  }

  input[type="message"] {
    background: none;
  }

  input[type="submit"] {
    color: $frchblue;
    font-weight: 100;
  }
}

  // MEDIA LAPTOP (MAX-WIDTH 1215px)

@include laptop {
  .blog {
    background: $frchblue;

    .wrapper {
      flex-direction: column;
      padding: 0% 7.5%;
    }

    .blogLeft {
      border-bottom: 2px solid $aqua;
      display: flex;
      margin: 0%;
      padding: 7.5% 0;
      width: 100%;

      .blogImageLeft {
        margin: 0%;
        width: 60%;

        img {
          box-shadow: -15px -15px $aqua;
        }
      }

      .blogText {
        padding: 0% 7.5%;

        .missionFirst {
          margin-bottom: 10%;
        }

        h4 {
          font-size: 1.5rem;
          margin-top: 0%;
        }
      }
    }
  }

  .blogRight {
    border: none;
    margin: 0%;
    padding: 14% 0%;
    width: 100%;

    .blogImageRight {
      box-shadow: none;
      float: right;
      margin: 0%;
      padding: 0% 0% 2.5% 2.5%;
      width: 60%;

      img {
        box-shadow: 15px 15px $aqua;
      }
    }

    .blogText  {
      padding: 0%;
    }
  }

  .comments {
    background: $darkturq;

    .commentsContent {
      padding: 0% 7.5%;
      width: 100%;

      h3 {
        margin-top: 7.5%;
      }

      .commentUser {
        margin-bottom: 5%;
      }

      .userContainer img {
        box-shadow: 5px -5px $aqua;
      }
    }
  }

  .commentForm {
    width: 75%;

    fieldset {
      padding-left: 0%;
    }
  }
}

  // MEDIA TABLET (MAX-WIDTH 767px)

  @include tablet {
    .blog {

      .blogLeft {
        flex-direction: column;

        .blogImageLeft {
          padding: 0% 20% 5%;
          width: 100%;
        }

        .blogText {
          text-align: center;

          .missionFirst {
            margin-bottom: 5%;
          }

          ul {
            align-items: center;
            padding: 0%;
          }
        }
      }

      .blogRight {
        padding: 20% 0% 7.5%;

        h3 {
          text-align: center;
        }

        .blogImageRight {
          display: block;
          padding: 0% 0% 7.5%;
          width: 100%;
        }
      }
    }

    .commentUser {

      .userContainer {
        width: 15%;
      }

      .blogText {
        padding-left: 5%;
      }
    }

      .commentForm {
      width: 100%;
    }
  }

  // MEDIA MOBILE LARGE (MAX-WIDTH 425px)

  @include mobileLarge {
    .blog {
      
      .blogLeft {
        padding: 0% 0% 5%;

        .blogImageLeft {
          padding: 0% 0% 5%;
        }
      }

      .blogRight {
        padding: 25% 0% 5%;
      }
    }

    .comments .commentsContent h3 {
      margin-top: 5%;
    }
  }

  // MEDIA MOBILE SMALL (MAX-WIDTH 320px)

  @include mobileSmall {
    .blog .wrapper {
      padding: 0% 2.5%;

      .blogLeft {
        border: none;
        padding: 0% 0% 2.5%;
      }

      .blogText {
        padding: 0%;

        h3 {
          font-size: 2rem;
        }

        ul {
          padding: 5% 20%;
        }
      }

      .blogRight {
        padding-top: 27.5%;

        .blogImageRight {
          margin-bottom: 5%;
          padding: 0%;
        }
      }
    }

    .comments {

      .commentsContent h3 {
        font-size: 2rem;
        margin-top: 2.5%;
      }
    }

    .commentUser {
      display: flex;
      flex-direction: column;

      .userContainer {
        margin-bottom: 7.5%;
        padding: 0% 35%;
        width: 100%;
      }

      .blogText {
        padding: 0%;
        width: 100%;
      }
    }
  }