.getInContact {
  background: $darkturq;
  padding-top: 7.5%;
}

.contactContent {
  display: flex;

  .contactLeft {
    width: 35%;
  }

  .contactIcons i {
    color: $white;
    margin-right: 3.5%;
  }

  .contactText p {
    line-height: 25px;
    margin: 0%;
  }

  .contactText p:first-child {
    margin: 5% 0%;
  }
}

@include laptop {
  .contactContent {
    align-items: center;
    flex-direction: column-reverse;

    .contactLeft,
    .contactRight {
      margin-bottom: 7.5%;
      width: 75%;
    }

    .contactLeft {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;

      .contactIcons {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2.5%;
        width: 45%;
      }
    }

    .contactRight {
      position: static !important;
    }
  }
}