.getInContact {
  background: $darkturq;

  .wrapper {
    padding-top: 7.5%;
  }
}

.contactContent {
  display: flex;

  .contactLeft {
    width: 35%;
  }

  .contactIcons i {
    color: $white;
    margin-right: 3.5%;
  }

  .contactText p {
    line-height: 25px;
    margin: 0%;
  }

  .contactText p:first-child {
    margin: 5% 0%;
  }
}

  // MEDIA: LAPTOP (MAX-WIDTH: 1215px)

@include laptop {
  .contactContent {
    @include flexCent (center, null, column-reverse, null);

    .contactLeft,
    .contactRight {
      margin-bottom: 7.5%;
      width: 75%;
    }

    .contactLeft {
      @include flexCent (center, flex, column, center);

      .contactIcons {
        @include flexCent (null, flex, null, null);
        justify-content: space-around;
        margin-bottom: 2.5%;
        width: 45%;
      }
    }

    .contactRight {
      position: static !important;
    }
  }
}

  // MEDIA: TABLET (MAX-WIDTH: 1024px)

  @include laptopSmall {
    .contactContent .contactRight {
      width: 85%;
    }
  }

  // MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    .contactContent .contactRight {
      width: 100%;
    }
  }

  // MEDIA MOBILE LARGE (MAX-WIDTH 425px)

  @include mobileLarge {
    .getInContact .wrapper {
      padding: 7.5% 2.5%;
    }

    .contactContent .contactLeft {
      margin: 5% 0%;

      .contactIcons {
        width: 100%;
      }
    }
  }