.events {
  background: $darkturq;
  padding: 7.5% 0%;

  .eventsContent {
    display: flex;
  }

  .eventsImage {
  width: 30%;

    img {
      box-shadow: -15px 15px $aqua;
    }
  }

  .eventsText {
    margin-left: 7.5%;
    width: 70%;
  }
}

  // MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    .eventsContent {
      flex-direction: column;

      .eventsImage {
        padding: 0% 20% 7.5%;
        width: 100%;
      }

      .eventsText {
        margin-left: 0%;
        width: 100%;

        .buttonWrapper {
          text-align: right;
        }
      }
    }
  }