.getInContact {
  background: $darkturq;
  padding-top: 7.5%;
}

.contactContent {
  display: flex;

  .contactLeft {
    width: 35%;
  }

  .contactIcons i {
    margin-right: 3.5%;
  }

  .contactText p {
    line-height: 25px;
    margin: 0%;
  }
}

