.getInContact {
  border: $border;
  background: $darkturq;
  padding-top: 7.5%;
}

.contactContent {
  border: $border;
  display: flex;
}

.contactLeft {
  width: 30%;
}

.contactIcons i {
  margin-right: 3.5%;
}

.contactText p {
  line-height: 25px;
  margin: 0%;
}

.contactRight {
  border: $border;
  background: $frchblue;
  width: 70%;
}