.hero {
  background: url(../images/homeHeader.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
}

.heroContainer {
  display: flex;

  .heroLeft,
  .heroRight{
    width: 50%;
  }

  .heroLeft {
    padding: 11% 0% 0% 7.5%;
  }

  .heroRight {
    position: relative;

    img {
      position: relative;
      top: 10%;
    }
  }
}

// MEDIA: LAPTOP (MAX-WIDTH: 1215px)
// NOTE: Breakpoint set @ 1215px to prevent layout collapse.

  @include laptop {
    .hero {
      height: 100vh;
    }

    .heroContainer {
      // NOTE: Do not delete .heroContainer
      // or it will collapse this responsive layout.

      .heroLeft {
        left: 25%;
        padding: 0%;
        position: relative;
        text-align: center;
        z-index: 100;

        h1 {
          font-size: 5rem;
          letter-spacing: 5px;
          position: relative;
          text-shadow: 5px 5px $frchblue;
          top: 45%;
        }
      }

      .heroRight {
      // NOTE: Do not delete .heroContainer
      // or it will collapse this responsive layout.
      right: 25%;
      padding: 0%;

        img {
          position: relative;
          top: 25%;
        }
      }
    }
  }

// MEDIA: LAPTOP SMALL (MAX-WIDTH: 1024px)

  @include laptopSmall {

    .heroContainer .heroLeft h1 {
      font-size: 3.5rem;
      top: 30%;
    }

    .heroContainer .heroRight img {
      position: static !important;
      margin-top: 10%;
    }
  }

  // MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    .heroContainer {
      flex-direction: column;

      .heroLeft h1 {
        font-size: 3rem;
        top: 40%;
      }

      .heroRight {
        left: 25%;
        bottom: 25%;
      }

      .heroRight img {
        left: 25%;
        margin-top: 25%;
      }
    }
  }
