.heroBlog {
  background: url(../images/blogHeaderjpg.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
}

  // MEDIA LAPTOP (MAX-WIDTH 1215px)

  @include laptop {
    .heroBlogLeft h1 {
      padding-top: 5%;
      text-align: center;
    }
  }

  // MEDIA LAPTOP (MAX-WIDTH 767px)

  @include tablet {
    .heroBlogLeft h1 {
      padding-top: 10%;
    }
  }

  // MEDIA LAPTOP (MAX-WIDTH 425px)

  @include mobileLarge {
    .heroBlogLeft h1 {
      font-size: 5rem;
      padding-top: 25%;
    }
  }

  // MEDIA LAPTOP (MAX-WIDTH 320px)

  @include mobileSmall {
    .heroBlog .wrapper {
      padding: 0%;
    }
    
    .heroBlogLeft h1 {
      font-size: 4rem;
      padding-top: 35%;
    }
  }