.heroBlog {
  background: url(../images/blogHeaderjpg.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
}

 // MEDIA LAPTOP (MAX-WIDTH 1215px)

  @include laptop {
    .heroBlogLeft h1 {
      padding-top: 10%;
      text-align: center;
    }
  }

// MEDIA LAPTOP SMALL (MAX-WIDTH 1024px)

  @include laptopSmall {
    .heroBlogLeft h1 {
      padding-top: 15%;
    }
  }

// MEDIA LAPTOP (MAX-WIDTH 425px)

  @include mobileLarge {
    .heroBlogLeft h1 {
      font-size: 5rem;
      padding-top: 45%;
    }
  }

// MEDIA LAPTOP (MAX-WIDTH 320px)

  @include mobileSmall {
    .heroBlog .wrapper {
      padding: 0%;
    }

    .heroBlogLeft h1 {
      font-size: 4rem;
      padding-top: 65%;
    }
  }