.heroContact {
  background: url(../images/contactHeader.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
}

@include laptop {
  .heroContact {
    height: 100vh;
  }

  .heroLeft {
    text-align: center;
  }
}

  // MEDIA MOBILE LARGE (MAX-WIDTH 425px)

  @include mobileLarge {
    .heroLeft h1 {
      font-size: 4.5rem;
    }
  }