.hero {
  background: url(../images/homeHeader.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
}

.heroContainer {
  display: flex;

  .heroLeft,
  .heroRight{
    width: 50%;
  }

  .heroLeft {
    padding: 11% 0% 0% 7.5%;
  }

  .heroRight {
    position: relative;

    img {
      position: relative;
      top: 18%;
    }
  }
}

// MEDIA: LAPTOP (MAX-WIDTH: 1215px)
// NOTE: Breakpoint set @ 1215px to prevent layout collapse.

  @include laptop {
    .hero {
      height: 100vh;
    }

    .heroContainer {
      // NOTE: Do not delete .heroContainer
      // or it will collapse this responsive layout.

      .heroLeft {
        left: 25%;
        padding: 0%;
        position: relative;
        text-align: center;
        z-index: 100;

        h1 {
          letter-spacing: 5px;
          position: relative;
          text-shadow: 5px 5px $frchblue;
          top: 40%;
        }
      }
    }

    .heroRight {
      // NOTE: Do not delete .heroContainer
      // or it will collapse this responsive layout.
      right: 25%;
      padding: 0%;

      img {
        box-shadow: 15px 15px $aqua;
        border: 2.5px solid $frchblue;
        position: relative;
        top: 20%;
      }
    }
  }

// MEDIA: LAPTOP SMALL (MAX-WIDTH: 1024px)

  @include laptopSmall {

    .heroContainer .heroLeft h1 {
      font-size: 4.5rem;
      top: 60%;
    }

    .heroContainer .heroRight img {
      top: 38%;
    }
  }

  // MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    
    .heroContainer .heroLeft h1 {
      font-size: 3rem;
      top: 65%;
    }
  }