.hero {
  background: url(../images/homeHeader.jpg)no-repeat;
  background-size: cover;
  height: 100vh;

  .wrapper {
    padding: 0% 0% 0% 7.5%;
  }
}

.heroContainer {
  display: flex;

  .heroLeft,
  .heroRight{
    width: 50%;
  }

  .heroLeft {
    padding: 15% 0% 0% 0%;
  }

  .heroRight {
    // position: relative;

    img {
      // position: relative;
      // top: 10%;
      transform: translate(0%, 35%);
    }
  }
}

// MEDIA: LAPTOP (MAX-WIDTH: 1215px)
// NOTE: Breakpoint set @ 1215px to prevent layout collapse.

  @include laptop {
    .hero {
      height: 100vh;

      .wrapper {
        padding: 0%;
      }

      .topNavi {
        padding: 0% 7.5%;
      }
    }

    .heroLeft h1 {
      font-size: 4.5rem;
      text-align: center;
    }
  }

// MEDIA: LAPTOP SMALL (MAX-WIDTH: 1024px)

  @include laptopSmall {
    .heroContainer {
      flex-direction: column;

      .heroLeft {
        padding: 2.5% 0% 0%;
        text-align: center;
        width: 100%;

        h1 {
          font-size: 4rem;
          margin: 0%;
        }
      }

      .heroRight {
        padding: 0% 29.5%;
        width: 100%;

        img {
          position: static !important;
        }
      }
    }
  }

// MEDIA: TABLET (MAX-WIDTH: 767px)

  @include tablet {
    .heroContainer .heroLeft {
      padding-top: 5%;
    }

    .heroContainer .heroRight {
      padding: 0% 22.5%;
    }
  }

// MEDIA: MOBILE LARGE (MAX-WIDTH: 425px)

  @include mobileLarge {
    // .heroContainer .heroRight {
    //   padding: 0% 2.5%;
    // }

    .heroContainer .heroLeft h1 {
      font-size: 3.25rem;
      padding-top: 20%;
    }
  }

// MEDIA: MOBILE SMALL (MAX-WIDTH: 320px)

  @include mobileSmall {
    .heroContainer .heroLeft h1 {
      padding-top: 60%;
    }

    .heroContainer .heroRight img {
      display: none;
    }
  }