.heroContact {
  background: url(../images/contactHeader.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
}

@include laptop {
  .heroContact {
    height: 100vh;
  }

  .heroLeft {
    text-align: center;
  }
}