.hero {
  background: url(/images/homeHeader.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero .wrapper {
  margin: 0%;
  padding: 0%;
}

.heroContainer {
  display: flex;
}

.heroLeft,
.heroRight{
  width: 50%;
}

.heroLeft {
  font-family: $sec;
  font-size: 2.75rem;
  padding: 11% 0% 0% 7.5%;
}

.heroRight {
  position: relative;
}

.heroRight img {
  position: relative;
  top: 18%;
}