.information {
  background: $frchblue;

  .wrapper {
    display: flex;
    padding: 0%;
  }
}

// LEFT SIDE (IMAGE CHILD + TEXT)

.infoLeft {
  padding-right: 10%;
  
  .infoImageLeft {
    transform: translateY(-7.5%);

    img {
      box-shadow: 15px 15px $aqua;
    }
  }

  .infoTextLeft h2,
  .infoTextLeft p,
  .infoTextLeft .buttonWrapper {
    padding-left: 18%;
    text-align: right;
  }
}

// RIGHT SIDE (TEXT + IMAGE CHILD w TOY)

.infoRight {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 10%;

  .infoImageRight {
    transform: translateY(7.5%);

    img {
      box-shadow: -15px 15px $aqua;
    }
  }

  .infoTextRight p {
  padding-right: 18%;
  }
}

// GENERAL STYLES FOR BOTH LEFT/ RIGHT SIDES @ INFORMATION SECTION.

.infoTextLeft,
.infoTextRight {
  margin-top: 15%;
  padding-bottom: 15%;
}

.infoTextLeft p,
.infoTextRight p {
  margin: 2.5% 0% 5% 0%;
}

  // MEDIA: LAPTOP SMALL (MAX-WIDTH: 1024px)

@include laptopSmall {
  .information .wrapper {
    display: flex;
    flex-direction: column;
    padding: 5% 7.5%;

    .infoLeft,
    .infoRight {
      padding: 0%;

      .infoImageLeft,
      .infoImageRight {
        transform: none;
      }

      .infoTextLeft,
      .infoTextRight {
        margin-top: 5%;
        padding-bottom: 5%;
      }

      .infoTextLeft h2,
      .infoTextRight h2 {
        padding: 0%;
        text-align: center;
      }

      .infoTextLeft p,
      .infoTextRight p {
        padding: 0%;
        text-align: left;
      }

      .buttonWrapper {
        padding: 0%;
        text-align: center;
      }
    }

    .infoRight {
      display: flex;
      flex-direction: column;
    }
  }
}

// MEDIA: MOBILE LARGE (MAX-WIDTH: 425px)

@include mobileLarge {
  .information .infoLeft,
  .information .infoRight {
    padding: 7.5% 2.5%;
  }

  .infoLeft .infoTextLeft h2,
  .infoTextRight h2 {
    text-align: center;
  }
}