.roadTrip {
  background: $darkturq;

  .wrapper {
    padding: 10% 7.5%;
  }
}

.roadTripText {
  text-align: center;

  p {
    padding: 0% 10%;
  }
}

// NOTE: Option 2: Set a background image on .roadTripImage. It has a cool effect on scroll if applied.

// .roadTripImage {
//   background: url(/images/banner.jpg)no-repeat center fixed;
//   background-size: contain;
//   height: 50vh;
// }

  // MEDIA: TABLET (MAX-WIDTH: 767px)

@include tablet {
  .roadTripText p {
    padding: 0%
  }
}

  // MEDIA: MOBILE LARGE (MAX-WIDTH: 425px)

@include mobileLarge {
  .roadTrip .wrapper {
    padding: 5% 2.5%;
  }

  .roadTrip p {
    text-align: left;
  }
}