.roadTrip {
  background: $darkturq;

  .wrapper {
    padding: 10% 7.5%;
  }
}

.roadTripText {
  text-align: center;

  p {
    padding: 0% 10%;
  }
}

// NOTE: Option 2: Set a background image on .roadTripImage. It has a cool effect on scroll if applied.

// .roadTripImage {
//   background: url(/images/banner.jpg)no-repeat center fixed;
//   background-size: contain;
//   height: 50vh;
// }
