// -----------------------------------
// FONT
// -----------------------------------

@mixin fontProp ($fFamily, $fSize, $fWeight) {
  font-family: $fFamily;
  font-size: $fSize;
  font-weight: $fWeight;
}

// -----------------------------------
// MEDIA QUERIES
// -----------------------------------

@mixin laptop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobileLarge {
  @media only screen and (max-width: 425px) {
    @content;
  }
}

@mixin mobileSmall {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

// -----------------------------------
// POSTIONING/ LAYOUTS/ MARGINS/ PADDING
// -----------------------------------

@mixin position ($top, $rig, $bot, $lef) {
  top: $top;
  right: $rig;
  bottom: $bot;
  left: $lef;
}