html {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 125%;
}

body {
  letter-spacing: 1px;
}

.wrapper {
  display: block;
  max-width: 100%;
  padding: 0% 7.5%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

i {
  font-size: 1.2rem;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 5.5rem;
}

h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.2rem;
  font-weight: 700;
}

h2,
h3 {
  margin: 0%;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.5rem;
}

h4 {
  font-family: "Walter Turncoat", cursive;
  font-size: 0.78rem;
}

p {
  font-size: 0.78rem;
  line-height: 25px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 5.5% 0% 0% 2%;
}

ul li {
  margin-right: 4.5%;
}

ul li a {
  color: #FFFFFF;
  font-size: 0.78rem;
  font-weight: 700;
}

button {
  background: #08FDED;
  border: none;
  font-family: "Walter Turncoat", cursive;
  font-weight: 300;
  padding: 1% 2%;
}

button a {
  color: #474BB5;
}

.hero {
  background: url(../images/homeHeader.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroContainer .heroLeft,
.heroContainer .heroRight {
  width: 50%;
}

.heroContainer .heroLeft {
  padding: 11% 0% 0% 7.5%;
}

.heroContainer .heroRight {
  position: relative;
}

.heroContainer .heroRight img {
  position: relative;
  top: 10%;
}

@media only screen and (max-width: 1215px) {
  .hero {
    height: 100vh;
  }
  .heroContainer .heroLeft {
    left: 25%;
    padding: 0%;
    position: relative;
    text-align: center;
    z-index: 100;
  }
  .heroContainer .heroLeft h1 {
    font-size: 5rem;
    letter-spacing: 5px;
    position: relative;
    text-shadow: 5px 5px #474BB5;
    top: 45%;
  }
  .heroContainer .heroRight {
    right: 25%;
    padding: 0%;
  }
  .heroContainer .heroRight img {
    position: relative;
    top: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .heroContainer .heroLeft h1 {
    font-size: 3.5rem;
    top: 30%;
  }
  .heroContainer .heroRight img {
    position: static !important;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .heroContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heroContainer .heroLeft h1 {
    font-size: 3rem;
    top: 40%;
  }
  .heroContainer .heroRight {
    left: 25%;
    bottom: 25%;
  }
  .heroContainer .heroRight img {
    left: 25%;
    margin-top: 25%;
  }
}

.about {
  background: #03697C;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21%;
  padding-bottom: 7.5%;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

.aboutContent .aboutIcons {
  width: 10%;
}

.aboutContent .aboutIcons i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #08FDED;
  color: #474BB5;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.aboutContent .aboutText {
  padding-left: 2.5%;
  width: 90%;
}

.aboutContent .aboutText p {
  margin: 2.5% 0%;
}

@media only screen and (max-width: 1215px) {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .aboutContent .aboutIcons {
    width: 12%;
  }
}

@media only screen and (max-width: 767px) {
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7.5%;
  }
  .aboutContent .aboutIcons {
    width: 8%;
  }
  .aboutContent .aboutText {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .about .wrapper {
    padding: 7.5% 2.5%;
  }
  .aboutContent .aboutIcons {
    width: 13%;
  }
}

@media only screen and (max-width: 320px) {
  .aboutContent .aboutIcons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 18%;
  }
}

.information {
  background: #474BB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoLeft {
  padding-right: 7.5%;
}

.infoLeft .infoImageLeft {
  position: relative;
  top: -5%;
}

.infoLeft .infoImageLeft img {
  -webkit-box-shadow: 15px 15px #08FDED;
          box-shadow: 15px 15px #08FDED;
}

.infoLeft .infoTextLeft h2,
.infoLeft .infoTextLeft p,
.infoLeft .infoTextLeft .buttonWrapper {
  padding-left: 20%;
  text-align: right;
}

.infoRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-left: 7.5%;
}

.infoRight .infoImageRight {
  position: relative;
  top: 5%;
}

.infoRight .infoImageRight img {
  -webkit-box-shadow: -15px 15px #08FDED;
          box-shadow: -15px 15px #08FDED;
}

.infoRight .infoTextRight p {
  padding-right: 20%;
}

.infoTextLeft,
.infoTextRight {
  margin-top: 10%;
  padding-bottom: 10%;
}

.infoTextLeft p,
.infoTextRight p {
  margin: 2.5% 0% 5% 0%;
}

@media only screen and (max-width: 767px) {
  .information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information .infoLeft {
    padding: 7.5% 7.5% 0% 7.5%;
  }
  .information .infoTextLeft {
    margin-top: 5%;
    padding-bottom: 5%;
  }
  .information .infoTextLeft h2,
  .information .infoTextLeft p {
    padding-left: 0%;
    text-align: left;
  }
  .information .infoTextLeft .buttonWrapper {
    padding-left: 0%;
    text-align: center;
  }
  .information .infoRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0% 7.5% 7.5% 7.5%;
  }
  .information .infoTextRight {
    margin-top: 5%;
    padding-bottom: 0%;
  }
  .information .infoTextRight p {
    padding-right: 0%;
  }
  .information .infoTextRight .buttonWrapper {
    text-align: center;
  }
  .information .infoImageLeft,
  .information .infoImageRight {
    position: static !important;
  }
}

@media only screen and (max-width: 425px) {
  .information .infoLeft,
  .information .infoRight {
    padding: 7.5% 2.5%;
  }
  .infoLeft .infoTextLeft h2,
  .infoTextRight h2 {
    text-align: center;
  }
}

.roadTrip {
  background: #03697C;
}

.roadTrip .wrapper {
  padding: 10% 7.5%;
}

.roadTripText {
  text-align: center;
}

.roadTripText p {
  padding: 0% 10%;
}

@media only screen and (max-width: 767px) {
  .roadTripText p {
    padding: 0%;
  }
}

@media only screen and (max-width: 425px) {
  .roadTrip .wrapper {
    padding: 5% 2.5%;
  }
  .roadTrip p {
    text-align: left;
  }
}

.events {
  background: #03697C;
  padding: 7.5% 0%;
}

.events .eventsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .eventsImage {
  width: 30%;
}

.events .eventsImage img {
  -webkit-box-shadow: -15px 15px #08FDED;
          box-shadow: -15px 15px #08FDED;
}

.events .eventsText {
  margin-left: 7.5%;
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .eventsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eventsContent .eventsImage {
    padding: 0% 20% 7.5%;
    width: 100%;
  }
  .eventsContent .eventsText {
    margin-left: 0%;
    width: 100%;
  }
  .eventsContent .eventsText .buttonWrapper {
    text-align: right;
  }
}

@media only screen and (max-width: 425px) {
  .events .wrapper {
    padding: 5% 2.5%;
  }
  .eventsContent .eventsImage {
    padding: 0% 10% 5%;
  }
  .eventsContent .eventsText h2 {
    text-align: center;
  }
  .eventsContent .eventsText .buttonWrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .eventsContent .eventsImage {
    padding: 0% 0% 5% 0%;
  }
}

.gallery {
  background: #474BB5;
  padding: 7.5% 0%;
}

.gallery .galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .galleryContent .galleryImage.one {
  margin-right: 3%;
}

.gallery .galleryContent .galleryImage.three {
  margin-left: 3%;
}

@media only screen and (max-width: 425px) {
  .gallery .wrapper {
    padding: 5% 2.5%;
  }
  .gallery .wrapper .galleryContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .wrapper .galleryContent .galleryImage.one {
    margin-right: 0%;
  }
  .gallery .wrapper .galleryContent .galleryImage.three {
    margin-left: 0%;
  }
  .gallery .wrapper .galleryContent .galleryImage.one,
  .gallery .wrapper .galleryContent .galleryImage.two {
    margin-bottom: 5%;
  }
}

.copyRight {
  background: #044779;
  text-align: center;
}

.copyRight p {
  margin: 0%;
  padding: 0.5% 0%;
}
/*# sourceMappingURL=home.css.map */