html {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 125%;
}

body {
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1600px;
  padding: 0% 7.5%;
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid #08FDED;
}

i {
  font-size: 1.2rem;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  font-size: 6rem;
}

h2 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.2rem;
  font-weight: 700;
}

h2,
h3 {
  margin: 0%;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-size: 2.5rem;
}

h4 {
  font-family: "Walter Turncoat", cursive;
  font-size: 0.78rem;
}

p {
  font-size: 0.78rem;
  line-height: 25px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 5.5% 0% 0% 2%;
}

ul li {
  margin-right: 4.5%;
}

ul li a {
  color: #FFFFFF;
  font-size: 0.78rem;
  font-weight: 700;
}

@media only screen and (max-width: 425px) {
  ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

button {
  background: #08FDED;
  border: none;
  font-family: "Walter Turncoat", cursive;
  font-weight: 300;
  padding: 1% 2%;
}

button a {
  color: #474BB5;
}

.contactRight {
  background: #474BB5;
  -webkit-box-shadow: 15px 15px #08FDED;
          box-shadow: 15px 15px #08FDED;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  width: 65%;
}

form {
  padding: 10% 5% 5% 5%;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0%;
}

fieldset input[type="fullName"],
fieldset input[type="emailAddress"] {
  background: none;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 2.5%;
  width: 48%;
}

fieldset input[type="message"] {
  background: #474BB5;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-bottom: 2.5%;
  padding: 2.5% 0% 30% 1.5%;
  width: 100%;
}

fieldset input[type="submit"] {
  background: #08FDED;
  border: transparent;
  color: #03697C;
  font-family: "Walter Turncoat", cursive;
  font-weight: 700;
  padding: 1.5%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  form fieldset:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form fieldset:first-child input[type="fullName"],
  form fieldset:first-child input[type="emailAddress"] {
    padding-left: 1.5%;
    width: 100%;
  }
}

.hero {
  background: url(../images/homeHeader.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero .wrapper {
  padding: 0% 0% 0% 7.5%;
}

.hero .topNavi {
  padding-right: 7.5%;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroContainer .heroLeft,
.heroContainer .heroRight {
  width: 50%;
}

.heroContainer .heroLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15%;
}

.heroContainer .heroRight img {
  -webkit-transform: translate(0%, 35%);
          transform: translate(0%, 35%);
}

@media only screen and (max-width: 1215px) {
  .hero .wrapper {
    padding: 0%;
  }
  .hero .topNavi {
    padding: 0% 7.5%;
  }
  .heroLeft h1 {
    font-size: 4.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .heroContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heroContainer .heroLeft {
    padding-top: 2.5%;
    width: 100%;
  }
  .heroContainer .heroLeft h1 {
    font-size: 4rem;
    margin: 0%;
    padding-top: 10%;
  }
  .heroContainer .heroRight {
    padding: 0% 29.5%;
    width: 100%;
  }
  .heroContainer .heroRight img {
    position: static !important;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 767px) {
  .heroContainer .heroLeft {
    padding-top: 5%;
  }
  .heroContainer .heroRight {
    padding: 0% 22.5%;
  }
}

@media only screen and (max-width: 425px) {
  .heroContainer .heroLeft h1 {
    font-size: 2.5rem;
    padding-top: 70%;
  }
  .heroContainer .heroRight img {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .hero .topNavi {
    padding: 0% 2.5%;
  }
  .heroContainer .heroLeft h1 {
    padding-top: 80%;
  }
}

.about {
  background: #03697C;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15%;
  padding-bottom: 7.5%;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

.aboutContent .aboutIcons {
  width: 9%;
}

.aboutContent .aboutIcons i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #08FDED;
  color: #474BB5;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.aboutContent .aboutText {
  padding-left: 2.5%;
  width: 90%;
}

.aboutContent .aboutText p {
  margin: 2.5% 0%;
}

@media only screen and (max-width: 1215px) {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .aboutContent .aboutIcons {
    width: 11%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .wrapper {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .aboutContent .aboutIcons {
    width: 13%;
  }
}

@media only screen and (max-width: 767px) {
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7.5%;
  }
  .aboutContent .aboutIcons {
    width: 9%;
  }
  .aboutContent .aboutText {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .about .wrapper {
    padding: 7.5% 2.5%;
  }
  .aboutContent .aboutIcons {
    width: 15%;
  }
}

@media only screen and (max-width: 320px) {
  .aboutContent .aboutIcons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.information {
  background: #474BB5;
}

.information .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
}

.infoLeft {
  padding-right: 10%;
}

.infoLeft .infoImageLeft {
  -webkit-transform: translateY(-7.5%);
          transform: translateY(-7.5%);
}

.infoLeft .infoImageLeft img {
  -webkit-box-shadow: 15px 15px #08FDED;
          box-shadow: 15px 15px #08FDED;
}

.infoLeft .infoTextLeft h2,
.infoLeft .infoTextLeft p,
.infoLeft .infoTextLeft .buttonWrapper {
  padding-left: 18%;
  text-align: right;
}

.infoRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-left: 10%;
}

.infoRight .infoImageRight {
  -webkit-transform: translateY(7.5%);
          transform: translateY(7.5%);
}

.infoRight .infoImageRight img {
  -webkit-box-shadow: -15px 15px #08FDED;
          box-shadow: -15px 15px #08FDED;
}

.infoRight .infoTextRight p {
  padding-right: 18%;
}

.infoTextLeft,
.infoTextRight {
  margin-top: 15%;
  padding-bottom: 15%;
}

.infoTextLeft p,
.infoTextRight p {
  margin: 2.5% 0% 5% 0%;
}

@media only screen and (max-width: 1024px) {
  .information .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 7.5%;
  }
  .information .wrapper .infoLeft,
  .information .wrapper .infoRight {
    padding: 0%;
  }
  .information .wrapper .infoLeft .infoImageLeft,
  .information .wrapper .infoLeft .infoImageRight,
  .information .wrapper .infoRight .infoImageLeft,
  .information .wrapper .infoRight .infoImageRight {
    -webkit-transform: none;
            transform: none;
  }
  .information .wrapper .infoLeft .infoTextLeft,
  .information .wrapper .infoLeft .infoTextRight,
  .information .wrapper .infoRight .infoTextLeft,
  .information .wrapper .infoRight .infoTextRight {
    margin-top: 5%;
    padding-bottom: 5%;
  }
  .information .wrapper .infoLeft .infoTextLeft h2,
  .information .wrapper .infoLeft .infoTextRight h2,
  .information .wrapper .infoRight .infoTextLeft h2,
  .information .wrapper .infoRight .infoTextRight h2 {
    padding: 0%;
    text-align: center;
  }
  .information .wrapper .infoLeft .infoTextLeft p,
  .information .wrapper .infoLeft .infoTextRight p,
  .information .wrapper .infoRight .infoTextLeft p,
  .information .wrapper .infoRight .infoTextRight p {
    padding: 0%;
    text-align: left;
  }
  .information .wrapper .infoLeft .buttonWrapper,
  .information .wrapper .infoRight .buttonWrapper {
    padding: 0%;
    text-align: center;
  }
  .information .wrapper .infoRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .information .infoLeft,
  .information .infoRight {
    padding: 7.5% 2.5%;
  }
  .infoLeft .infoTextLeft h2,
  .infoTextRight h2 {
    text-align: center;
  }
}

.roadTrip {
  background: #03697C;
}

.roadTrip .wrapper {
  padding: 10% 7.5%;
}

.roadTripText {
  text-align: center;
}

.roadTripText p {
  padding: 0% 10%;
}

@media only screen and (max-width: 767px) {
  .roadTripText p {
    padding: 0%;
  }
}

@media only screen and (max-width: 425px) {
  .roadTrip .wrapper {
    padding: 5% 2.5%;
  }
  .roadTripText p {
    text-align: left;
  }
}

.events {
  background: #03697C;
  padding: 7.5% 0%;
}

.events .eventsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .eventsImage {
  width: 30%;
}

.events .eventsImage img {
  -webkit-box-shadow: -15px 15px #08FDED;
          box-shadow: -15px 15px #08FDED;
}

.events .eventsText {
  margin-left: 7.5%;
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .eventsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eventsContent .eventsImage {
    padding: 0% 20% 7.5%;
    width: 100%;
  }
  .eventsContent .eventsText {
    margin-left: 0%;
    width: 100%;
  }
  .eventsContent .eventsText .buttonWrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .events .wrapper {
    padding: 5% 2.5%;
  }
  .eventsContent .eventsImage {
    padding: 0% 10% 5%;
  }
  .eventsContent .eventsText h2 {
    text-align: center;
  }
  .eventsContent .eventsText h2 .buttonWrapper {
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .eventsContent .eventsImage {
    padding: 0% 0% 5% 0%;
  }
}

.gallery {
  background: #474BB5;
  padding: 7.5% 0%;
}

.gallery .galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .galleryContent .galleryImage.one {
  margin-right: 3%;
}

.gallery .galleryContent .galleryImage.three {
  margin-left: 3%;
}

@media only screen and (max-width: 425px) {
  .gallery .wrapper {
    padding: 5% 2.5%;
  }
  .gallery .wrapper .galleryContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .wrapper .galleryContent .galleryImage.one {
    margin-right: 0%;
  }
  .gallery .wrapper .galleryContent .galleryImage.three {
    margin-left: 0%;
  }
  .gallery .wrapper .galleryContent .galleryImage.one,
  .gallery .wrapper .galleryContent .galleryImage.two {
    margin-bottom: 5%;
  }
}

.copyRight {
  background: #044779;
  text-align: center;
}

.copyRight p {
  margin: 0%;
  padding: 0.5% 0%;
}

.heroContact {
  background: url(../images/contactHeader.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 1215px) {
  .heroContact .wrapper {
    padding: 0%;
  }
  .heroContact .heroLeft {
    text-align: center;
  }
  .heroContact .heroLeft h1 {
    margin: 0%;
  }
}

@media only screen and (max-width: 1215px) {
  .heroLeft h1 {
    padding-top: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .heroLeft h1 {
    padding-top: 25%;
  }
}

@media only screen and (max-width: 425px) {
  .heroLeft h1 {
    font-size: 4.5rem;
    padding-top: 40%;
  }
}

.getInContact {
  background: #03697C;
}

.getInContact .wrapper {
  padding-top: 7.5%;
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactContent .contactLeft {
  width: 35%;
}

.contactContent .contactIcons i {
  color: #FFFFFF;
  margin-right: 3.5%;
}

.contactContent .contactText p {
  line-height: 25px;
  margin: 0%;
}

.contactContent .contactText p:first-child {
  margin: 5% 0%;
}

@media only screen and (max-width: 1215px) {
  .contactContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactContent .contactLeft,
  .contactContent .contactRight {
    margin-bottom: 7.5%;
    width: 75%;
  }
  .contactContent .contactLeft {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contactContent .contactLeft .contactIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 2.5%;
    width: 45%;
  }
  .contactContent .contactRight {
    position: static !important;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 1024px) {
  .contactContent .contactRight {
    width: 85%;
  }
}

@media only screen and (max-width: 767px) {
  .contactContent .contactRight {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .getInContact .wrapper {
    padding: 7.5% 2.5%;
  }
  .contactContent .contactLeft {
    margin: 5% 0%;
  }
  .contactContent .contactLeft .contactIcons {
    width: 100%;
  }
}

.heroBlog {
  background: url(../images/blogHeaderjpg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 1215px) {
  .heroBlogLeft h1 {
    padding-top: 10%;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .heroBlogLeft h1 {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 425px) {
  .heroBlogLeft h1 {
    font-size: 5rem;
    padding-top: 45%;
  }
}

@media only screen and (max-width: 320px) {
  .heroBlog .wrapper {
    padding: 0%;
  }
  .heroBlogLeft h1 {
    font-size: 4rem;
    padding-top: 65%;
  }
}

.blog {
  background: #03697C;
}

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 0% 0% 7.5%;
}

.blogLeft {
  background: #474BB5;
  margin: 0% 7.5% 32% 0%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  width: 30%;
}

.blogLeft .blogImageLeft {
  margin: -5% 5.5% 0% -30%;
}

.blogLeft .blogText {
  padding: 0% 9%;
}

.blogLeft .blogText h4 {
  margin: 10% 0% 5%;
  text-transform: uppercase;
}

.blogLeft .blogText ul {
  color: #08FDED;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0%;
}

.blogLeft .blogText ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .9rem;
  list-style: disc;
}

.blogLeft .blogText p {
  color: #FFFFFF;
  margin: 0%;
}

.blogRight {
  border-left: 5px solid #08FDED;
  border-bottom: 5px solid #08FDED;
  width: 70%;
}

.blogRight .blogImageRight {
  margin: -17% 0% 0% 1.25%;
  -webkit-box-shadow: -15px 15px aqua;
          box-shadow: -15px 15px aqua;
}

.blogRight .blogText {
  padding: 2.5% 7% 10% 11%;
}

.comments {
  background: #03697C;
}

.comments .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0%;
}

.comments .commentsContent {
  padding: 0% 7%;
  width: 59.5%;
}

.comments .commentsContent h3 {
  margin: 2.5% 0%;
}

.commentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  margin-bottom: 10%;
}

.commentUser .userContainer {
  width: 10%;
}

.commentUser .blogText {
  padding-left: 2.5%;
  width: 90%;
}

.commentUser .blogText h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: bolder;
  font-style: italic;
  margin: 0%;
}

.commentUser .blogText p {
  margin-top: 2.5%;
}

.commentForm {
  padding-bottom: 10%;
}

.commentForm form {
  padding: 0%;
}

.commentForm input[type="fullName"],
.commentForm input[type="emailAddress"],
.commentForm input[type="message"] {
  border-color: #08FDED;
}

.commentForm input[type="message"] {
  background: none;
}

.commentForm input[type="submit"] {
  color: #474BB5;
  font-weight: 100;
}

@media only screen and (max-width: 1215px) {
  .blog {
    background: #474BB5;
  }
  .blog .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0% 7.5%;
  }
  .blog .blogLeft {
    border-bottom: 2px solid #08FDED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0%;
    padding: 7.5% 0;
    width: 100%;
  }
  .blog .blogLeft .blogImageLeft {
    margin: 0%;
    width: 60%;
  }
  .blog .blogLeft .blogImageLeft img {
    -webkit-box-shadow: -15px -15px #08FDED;
            box-shadow: -15px -15px #08FDED;
  }
  .blog .blogLeft .blogText {
    padding: 0% 7.5%;
  }
  .blog .blogLeft .blogText .missionFirst {
    margin-bottom: 10%;
  }
  .blog .blogLeft .blogText h4 {
    font-size: 1.5rem;
    margin-top: 0%;
  }
  .blogRight {
    border: none;
    padding: 7.5% 0%;
    width: 100%;
  }
  .blogRight .blogImageRight {
    -webkit-box-shadow: none;
            box-shadow: none;
    float: right;
    margin: 0%;
    padding: 0% 0% 2.5% 2.5%;
    width: 60%;
  }
  .blogRight .blogImageRight img {
    -webkit-box-shadow: 15px 15px #08FDED;
            box-shadow: 15px 15px #08FDED;
  }
  .blogRight .blogText {
    padding: 0%;
  }
  .comments {
    background: #03697C;
  }
  .comments .commentsContent {
    padding: 0% 7.5%;
    width: 100%;
  }
  .comments .commentsContent h3 {
    margin-top: 7.5%;
  }
  .comments .commentsContent .commentUser {
    margin-bottom: 5%;
  }
  .comments .commentsContent .userContainer img {
    -webkit-box-shadow: 5px -5px #08FDED;
            box-shadow: 5px -5px #08FDED;
  }
  .commentForm {
    width: 100%;
  }
  .commentForm fieldset {
    padding-left: 0%;
  }
}

@media only screen and (max-width: 767px) {
  .blog .blogLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .blogLeft .blogImageLeft {
    padding: 0% 20% 5%;
    width: 100%;
  }
  .blog .blogLeft .blogText {
    text-align: center;
  }
  .blog .blogLeft .blogText .missionFirst {
    margin-bottom: 5%;
  }
  .blog .blogLeft .blogText ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0%;
  }
  .blog .blogRight {
    padding: 20% 0% 7.5%;
  }
  .blog .blogRight h3 {
    text-align: center;
  }
  .blog .blogRight .blogImageRight {
    display: block;
    padding: 0% 0% 7.5%;
    width: 100%;
  }
  .commentUser .userContainer {
    width: 15%;
  }
  .commentUser .blogText {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .blog .blogLeft {
    padding: 0% 0% 5%;
  }
  .blog .blogLeft .blogImageLeft {
    padding: 0% 0% 5%;
  }
  .blog .blogRight {
    padding: 25% 0% 5%;
  }
  .comments .commentsContent h3 {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 320px) {
  .blog .wrapper {
    padding: 0% 2.5%;
  }
  .blog .wrapper .blogLeft {
    border: none;
    padding: 0% 0% 2.5%;
  }
  .blog .wrapper .blogText {
    padding: 0%;
  }
  .blog .wrapper .blogText h3 {
    font-size: 2rem;
  }
  .blog .wrapper .blogText ul {
    padding: 5% 20%;
  }
  .blog .wrapper .blogRight {
    padding-top: 27.5%;
  }
  .blog .wrapper .blogRight .blogImageRight {
    margin-bottom: 5%;
    padding: 0%;
  }
  .comments .commentsContent h3 {
    font-size: 2rem;
    margin-top: 2.5%;
  }
  .commentUser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commentUser .userContainer {
    margin-bottom: 7.5%;
    padding: 0% 35%;
    width: 100%;
  }
  .commentUser .blogText {
    padding: 0%;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */